@use '../../../../scss/templates.scss' as t;

.Button {
    background-color: t.$color-bg-button;
    border-radius: 40px;
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 12px;

    &:hover {
        @include t.Linear
    }
}
