@use '../../../../scss/index.scss' as i;

.Button {
    background-color: i.$color-bg-button;
    border-radius: 40px;
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 12px;

    &:hover {
        @include i.Linear
    }
}
