@use './templates.scss' as t;

* {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

body {
    @include t.Linear
}

.Code {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
}
