$color-back-1: rgb(60, 220, 230);
$color-back-2: rgb(50, 240, 185);

$color-active: rgb(55, 230, 207.5);
$color-separator: rgb(100, 100, 100);

$color-bg-whiteTheme: rgb(240, 240, 240);
$color-bg-blackTheme: rgb(10, 10, 10);

$color-fg-whiteTheme: rgb(10, 10, 10); 
$color-fg-blackTheme: rgb(240, 240, 240); 

$color-bg-button: rgb(140, 140, 140);

@mixin Linear {
    background: 
        linear-gradient(to right, $color-back-1 40%, $color-back-2 60%);
}

* {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

body {
    @include Linear
}

.Code {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
}
