@use './templates.scss' as t;

@mixin Root {
    margin-top: 12px;
    margin-left: 4px;
    margin-right: 4px;
}

@mixin Bar {
    border-radius: 14px;
    width: 100%;
    height: 48px;
    margin-bottom: 12px;
}

@mixin Main {
    display: flex;
    flex-direction: row;
    gap: 12px;
    height: 590px;
}

@mixin Nav {
    width: 20%;
    height: 100%;
    border-radius: 14px;
}

@mixin Outlet {
    border-radius: 14px;
    width: 80%;
    height: 100%;
}

.RootWhiteTheme {
    @include Root;
    color: t.$color-fg-whiteTheme;
    
    a {
        text-decoration: none;
        color: t.$color-fg-whiteTheme;
        font-weight: bold;
    }

    .Bar {
        @include Bar;
        background-color: t.$color-bg-whiteTheme;
        border: 2px solid t.$color-fg-whiteTheme;
        box-shadow: 4px 4px 2px t.$color-fg-whiteTheme;
    }

    .Main {
        @include Main;

        .Nav {
            @include Nav;
            background-color: t.$color-bg-whiteTheme;
            border: 2px solid t.$color-fg-whiteTheme;
            box-shadow: 4px 4px 2px t.$color-fg-whiteTheme;
        }     

        .Outlet {
            @include Outlet;
            background-color: t.$color-bg-whiteTheme;
            border: 2px solid t.$color-fg-whiteTheme;
            box-shadow: 4px 4px 2px t.$color-fg-whiteTheme;
        }  
    }
}

.RootBlackTheme {
    @include Root;
    color: t.$color-fg-blackTheme;
    
    a {
        text-decoration: none;
        color: t.$color-fg-blackTheme;
        font-weight: bold;
    }

    .Bar {
        @include Bar;
        background-color: t.$color-bg-blackTheme;
        border: 2px solid t.$color-fg-blackTheme;
        box-shadow: 4px 4px 2px t.$color-fg-blackTheme;
    }

    .Main {
        @include Main;

        
        .Nav {
            @include Nav;
            background-color: t.$color-bg-blackTheme;
            border: 2px solid t.$color-fg-blackTheme;
            box-shadow: 4px 4px 2px t.$color-fg-blackTheme;
        }  
        
        .Outlet {
            @include Outlet;
            background-color: t.$color-bg-blackTheme;
            border: 2px solid t.$color-fg-blackTheme;
            box-shadow: 4px 4px 2px t.$color-fg-blackTheme;
        }
    }
}

