@use './templates.scss' as t;

@mixin Root {
}

@mixin Bar {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    height: 48px;
    margin-bottom: 6px;
    box-shadow: 4px 4px 2px black;
}

@mixin Main {
    display: flex;
    flex-direction: row;
    height: 590px;
    gap: 6px;
}

@mixin Nav {
    border-radius: 6px;
    width: 20%;
    height: 100%;
    box-shadow: 4px 4px 2px black;
}

@mixin Outlet {
    border-radius: 6px;
    width: 100%;
    height: 100%;
    box-shadow: 4px 4px 2px black;
}

.RootWhiteTheme {
    @include Root;
    color: t.$color-fg-whiteTheme;
    
    a {
        text-decoration: none;
        color: t.$color-fg-whiteTheme;
        font-weight: bold;
    }

    .Bar {
        @include Bar;
        background-color: t.$color-bg-whiteTheme;
        border: 2px solid t.$color-fg-whiteTheme;
    }

    .Main {
        @include Main;

        .Nav {
            @include Nav;
            background-color: t.$color-bg-whiteTheme;
            border: 2px solid t.$color-fg-whiteTheme;
        }     

        .Outlet {
            @include Outlet;
            background-color: t.$color-bg-whiteTheme;
            border: 2px solid t.$color-fg-whiteTheme;
        }  
    }
}

.RootBlackTheme {
    @include Root;
    color: t.$color-fg-blackTheme;
    
    a {
        text-decoration: none;
        color: t.$color-fg-blackTheme;
        font-weight: bold;
    }

    .Bar {
        @include Bar;
        background-color: t.$color-bg-blackTheme;
        border: 2px solid t.$color-fg-blackTheme;
    }

    .Main {
        @include Main;

        
        .Nav {
            @include Nav;
            background-color: t.$color-bg-blackTheme;
            border: 2px solid t.$color-fg-blackTheme;
        }  
        
        .Outlet {
            @include Outlet;
            background-color: t.$color-bg-blackTheme;
            border: 2px solid t.$color-fg-blackTheme;
        }
    }
}

